<div id="admin-wrapper" >
	<!-- 'event_start', 'event_end', 'name', 'image', 'descr', 'address','event_type' -->

	<h2 class="h2-big">Мероприятие '{{ev.name}}'</h2>

	<div id="events-wrapepr" >
		<div class="event-watch" >
			<div ng-if="ev.image!==''"><img src="images/events/{{ev.image}}" /></div>
			<div class="event-watch-descr">{{ev.descr}}</div>
			<p><span>Дата:</span> {{ev.event_start | date:'yyyy-MM-dd HH:mm'}} - {{ev.event_end | date:'yyyy-MM-dd HH:mm'}}
            <p><span>Место: </span>{{ev.address}}
			<p><span>Тип мероприятия: </span>{{ev.get_event_type.name}}

            <p><span>Подтверждено участников: </span>{{ev.users}}
            <p><span>Ожидает подтверждения: </span>{{ev.users}}

            <p><span>Стимулы: </span> <i ng-show="ev.motivations.length == 0">Не указано</i>
            <div class="lan-obj" ng-repeat="motivate in motivations">
                <p><span>Краткое описание: </span>{{motivate.users}}
                <p><span>Полное описание: </span>{{motivate.users}}
            </div>

            <p><span>Направления: </span> <i ng-show="ev.responsibilities.length == 0"> Не указано</i>
            <div class="lan-obj" ng-repeat="res in ev.responsibilities">

                <p><span>Назвение позиции: </span>{res.position}}
                <p><span>Описание задачи позиции: </span>{{res.task}}
                <p><span>Требуемое кол-во участников: </span>{{res.count}}
            </div>

		</div>

		<div ng-if="role == 'anonymous'" class="events-anon">
			<a ui-sref="login">Войдите</a> или <a ui-sref="reg">зарегистрируйтесь</a>,
			чтобы принять участие в мероприятии
		</div>

		<div ng-if="role == 'isloggedin'" class="bordered">
			<h4 class="h4-mar-lit">Принять участие в мероприятии?</h4>
			<div class="button button-color-2" id="bt-up" ng-click="go()">ОК</div>
		</div>
		
		</div>
	</div>

</div>