@font-face {
	font-family: 'font';
	src: local('font'), url('data/font.woff') format('woff');
	src: url('data/font.ttf') format('truetype');
	/*src: url ('data/font.otf') format('opentype');*/
}

body, html {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
}

* {
	padding:0; margin:0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	font-family: 'font',  Helvetica;
	text-align: center;
	overflow-x: hidden;
	cursor: default;
	
	position: absolute;
    width: 100%;
    top: 0; left: 0;
	
	background: #ECF0F1;
}

input[disabled] {
	cursor: default;
	background: grey;
	opacity: 0.5;
}

input[disabled]:hover {
	box-shadow: none;
}

.form-group {
	margin-bottom: 0.5em;

	display: inline-block;
	width: 100%;
}

.data-1 {
	padding: 0;
	padding-right: 10px;
}


.data-2 {
	display: block!important;
	margin: 1em auto;
	width: 100%
}

.data-2 select{
	width: 40%;
	margin: auto;
}

.data-1:last-child {
	padding-right: 0;
}

#main-page-wrapper {
	width: 80%;
	margin: auto;
	margin-top: 1em;
	padding-bottom: 3em;
	
	position: relative;
}

#main-page-wrapper img{
	width: 50%;
	margin: auto;
}

#admin-wrapper {
	width: 80%;
	margin: auto;
	margin-top: 2em;
	padding-bottom: 3em;
	
	position: relative;
}

#header-title {
	text-align: left;
	height: 4em;
	margin: 2em auto 0.5em auto;

	display: inline-block;

}

#header-title h4 {
	display: inline-block;
	float: left;
	margin: 1em;
}

#header-title img {
	display: inline-block;
	height: 10em;
	margin: -3em;
}

header {
	display: inline-block;
	width: 80%;
	margin: 0 auto 2em auto;
	font-size: 1.3em;

}

header ul {
	list-style: none;
    display: inline-block;
    padding: 1em 0;
	
	border-bottom: 2px solid rgba(128, 128, 128, 0.43);
	overflow: hidden;
}

header ul div {
	display: inline-block;
	float: left;
}

header ul li{
	position: relative;
    margin-right: 1em;
    float: left;
    cursor: pointer;

	margin-bottom: 1em;
}

header ul li:last-child{
	margin-right: 0;
}

header ul  li a{
   
    text-decoration: none;
    color: black;
	padding: 0.6em;
	

	border: 2px solid rgba(128, 128, 128, 0);
		transition: all 225ms ease;
	-webkit-transition: all 225ms ease;
	-moz-transition: all 225ms ease;
}

a:link, a:visited{
	color: black;
	text-decoration: none;
}

header ul  li a:hover {
	text-decoration: none;
	border: 2px solid rgba(128, 128, 128, 0.43);
}

.current-header {
	border: 2px solid rgba(128, 128, 128, 0.43);
	background: rgba(128, 128, 128, 0.43);
}

.title-head {
	margin-top: 2em;
	margin-bottom: 0.1em;
}

h4 {
	margin-top: 3em;
}

.h2-big {
	margin-top: 2em;
}

.h4-mar-lit {
	margin-top: 0.5em;
}

.a-long {
	width: 85%!important;
}

.events-anon {
	font-size: 1.2em;
}

.events-anon a{
	color: #337ab7;
}

.events-anon a:hover {
	text-decoration: underline;
}


#events-wrapepr {
	margin-bottom: 4em;
}

#events-wrapepr h3{
	margin: 3em auto 1em auto;
}

#comment {
	margin: 3em auto;
}

.circle {
	display: inline-block;
	width: 10px; height: 10px;
	border-radius: 50%;
	border: 1px solid rgba(0,0,0,0);
	background: #F38B72;
	
	position: absolute;
	top: 1em; left: 1em;
	
	transition: all 225ms ease;
	-webkit-transition: all 225ms ease;
	-moz-transition: all 225ms ease;
}



.event-users-wrapper {
	margin: 2em auto;
	width: 70%;
	padding: 1em;
	border: 2px solid rgba(128, 128, 128, 0.43);
}

.event-users-wrapper h3 {
	margin-top: 1em!important;
}

.person {
	width: 100%;
	height: 3em;
	margin: 0.5em auto;
	
	overflow: hidden;
	position: relative;
}

.person a {
	display: block;
    width: 70%;
    margin: 0;
    color: inherit;
    height: 100%;
	
	padding: 0.7em 2em;
	background: white;
	box-shadow: -3px 3px 6px #A7A7A7;
	float: left;
	
	transition: all 225ms ease;
	-webkit-transition: all 225ms ease;
	-moz-transition: all 225ms ease;
}

.person a:hover {
	color: white;
	background: #F38B72;
	text-decoration: none;
}

.person-name {
	text-align: left;
	font-size: 1.2em;
	font-weight: bold;
}

.person-add {
	background: #57BBB5;
}

.person-res {
	background: #B9BB57;
}

.person-remove {
	background: #F38B72;
}

.person-remove, .person-add, .person-res  {
	margin-left: 3%;

	height: 40px;
	width: 40px; float: left;
	overflow: hidden;

	cursor: pointer;
	color: white;
	font-size: 1.2em;
	padding: 0.6em;
	
	box-shadow: -3px 3px 6px rgba(167,167,167,0);
	
	transition: all 225ms ease;
	-webkit-transition: all 225ms ease;
	-moz-transition: all 225ms ease;
}

.person-remove:hover, .person-add:hover, .person-res:hover {
	box-shadow: -3px 3px 6px #A7A7A7;
}

.bordered {
	margin: 1em auto;
	display: inline-block;
	padding: 1em;
	border: 2px solid rgba(128, 128, 128, 0.43);
}

.main-page-event {
	width: 60%;
	
	height: 7em;
	margin: 2em auto;
	background: white;
	box-shadow: -3px 3px 6px #A7A7A7;
	
	padding: 0.7em 4em;
	position: relative;
	
	transition: all 225ms ease;
	-webkit-transition: all 225ms ease;
	-moz-transition: all 225ms ease;
}



.admin-page-event {
	height: 0;
	min-height: 12em;
	padding: 0;
}

.page-event-a{
    display: block;
    width: 100%;
    margin: 0;
    color: inherit;
    height: 100%;
	
	padding: 0.7em 4em;

	overflow: hidden;
	
		transition: all 225ms ease;
	-webkit-transition: all 225ms ease;
	-moz-transition: all 225ms ease;
}
/*
.main-page-event .icons:hover {
	color: white!important;
	background: #F38B72;
}*/

.page-event-a:hover {
	color: white;
	background: #F38B72;
}

.page-event-a:hover>.circle{
	background: white;
}

.page-event-a:hover>.event-dark{
	color: white;
}

.page-event-a:hover>.icons{
	opacity: 0.4;
}


.event-watch {
	text-align: left;
	width: 80%;
	margin: 0 auto 2em auto;
	position: relative;
}

.event-watch-edit{
	left: 80%!important;
}

.event-watch-descr {
	text-align: left;
	display: inline-block;
	width: 100%;
	margin: 1em 0 ;
	color: #222222;
}

.event-watch span {
	font-weight: bold;
}

.event-watch {
	text-align: left;
	font-size: 1.1em;
}




.event-name {
	float: left;
	
	font-size: 1.2em;
	font-weight: bold;
	
    text-align: left;
}

.event-dark {
	color: #848181;
		transition: all 225ms ease;
	-webkit-transition: all 225ms ease;
	-moz-transition: all 225ms ease;
}

.event-dateStart, .event-dateEnd {
		float: right;
	font-size: 1.1em;
	color: #848181;
	margin-left: 2em;
}

.event-type {
	float: left;
	font-size: 1em;
	color: #A5A3A3;
	text-align: left;
	width: 100%;
}

.event-place {
	width: 100%;
    text-align: left;
	float: left;
	margin-top: 0.5em;
}

.event-descr {
	margin-top: 1em;
	width: 100%;
	overflow: hidden;
	display: inline-block;
	height: 4.1em;
	font-size: 1em;
}

.event-edit {
	position: absolute;
	width: 40px; height: 40px;
	top: 0; left: 0;
	display: block;
	
}

.event-delete {
	position: absolute;
	width: 40px; height: 40px;
	top: 0; right: 0;
}

.icons {
	cursor: pointer;
	
	transition: all 225ms ease;
	-webkit-transition: all 225ms ease;
	-moz-transition: all 225ms ease;
}

.icons  img {
	width: 68%;
    margin: 0.5em;
}

.icons i {
	font-size: 1.5em;
	padding: 0.3em;
	color: #403F3F;
}

.icons:hover {
	opacity: 0.8!important; color: white!important;
}

.event-nums {
	display: inline-block;
	width: 100%;
	margin-top: 1em;
}

.event-num {
	text-align: left;
	font-size: 1.2em;
	font-weight: bold;
}

.event-numWait {
	text-align: left;
	font-size: 1.2em;
	font-weight: bold;
}


.button {
	background: #F38B72;
	width: 200px;
	height: 3em;
	padding-top: 0.9em;
	margin: 1em auto;
	color: white;
	cursor: pointer;
	
	box-shadow: -3px 3px 6px rgba(167,167,167,0);
	font-size: 1.1em;
	
	transition: all 225ms ease;
	-webkit-transition: all 225ms ease;
	-moz-transition: all 225ms ease;
}

.input-button {
	width: 200px!important;
	height: 3em!important;
	padding-top: 0.5em!important;
	border: none!important;
}

.href a{
	color: inherit;
	width: 100%; height: 100%;
	padding-top: 0.9em;
	display: block;
}

.href a:hover{
		text-decoration: none;
}

.href {
	padding-top: 0;
}
    

.button-color-2 {
	background: #57BBB5;
}

.button-right{
	margin: 1em 0;
}

.button:hover {
	box-shadow: -3px 3px 6px #A7A7A7;
}

.right-panel {
	position: absolute;
	top: 0; right: 0;
}

.reg .input1{
	width: 100%!important;
	margin: 0.3em auto 1em auto!important;
}

.input-date {
	margin-top: 0!important;
}


.form {
	width: 40%;
	margin: 2em auto;
}

.form2 {
	width: 50%;
}

.form  input {
	width: 100%;
	margin: 0.3em auto 3em auto;
}

.form textarea {
	resize: vertical;
	width: 100%;
	margin: 0.3em auto 3em auto;
}

label {
	display: block;
}

.label-min {

}

.input-min {
	margin-bottom: 0.1em!important;
}

.form-control:focus {
    border-color: #57BBB5;
    outline: 0;
    box-shadow:  0 0 5px  #57BBB5;
}

.btn-group-2 {
	    margin-bottom: 2em;
}

.show {
	display: block;
}

.hide {
	display: none;
}

footer {
	width: 100%;
	background: #B3B8B9;
	height: 10em;
	position: relative;
	
	font-size: 1.1em;
}

.center {
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
}

.lan-wrapper {
	border: 2px solid rgba(128, 128, 128, 0.43);
	padding: 2em;
	margin-bottom: 2em;
}

.lan-obj {
	border: 2px solid rgba(128, 128, 128, 0.43);
	padding: 1em;
	margin-bottom: 2em;
	position: relative;
}

.button-mar-none {
	margin-top: 0;
}

.margin-bot {
	margin-bottom: 1em;
}

.margin-bot-not {
	margin-bottom: 0!important;
}

.user-info-wrapper {
	text-align: left;
	width: 80%;
	margin: auto;
}

.user-info p {
	margin-left: 2em;
}

.user-info span {
	font-weight: bold;
}

.user-info {
	text-align: left;
	font-size: 1.1em;
}