.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-brand>img {
    max-height: 100%;
    height: 100%;
    width: auto;
    margin: 0 auto;
    /* probably not needed anymore, but doesn't hurt */
    -o-object-fit: contain;
    object-fit: contain;
}

.container-center {
    text-align: center;
}

.container-center-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

@media (max-width: 768px) {
    .navbar-brand
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
        margin:0 auto;
    }
    .navbar-toggle {
        z-index:3;
    }
    .big-logo {
        display: none;
    }
}

@media (min-width: 769px) {
    .navbar-brand
    {
        width: 100%;
        left: 0;
        text-align: center;
        margin:0 auto;
    }
    .small-logo {
        display: none;
    }
}

#footer {
    padding: 10px 0;
    color: #8c8c8c;
}

.center {
    display: flex;
    align-items: center;
    text-align: center;
}